@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap');

body {
    background-image: url(../images/flags.png);
    font-family: Abhaya Libre, sans-serif;
}

.container {
    /*Sets the size and style of the area that includes the text */
    width: 60%;
    height: 600px;
    background-color: rgb(250, 249, 248);
    border: 4px solid;
    margin: auto;
    margin-top: 10%;
    /*Sets the style and color of the text*/
    text-align: center;
    color: rgb(165, 36, 36);
    font-size: 30px;
    text-decoration-style: solid;

}

.container > h1 {
    color: rgb(35, 35, 153);
    font-size: 50px;
}

#answermsg  {
    color: rgb(113, 156, 11);
    text-decoration-line: underline;
}

#quiz {
    height: 40%;
    width: 100%;
    margin-top: 10%;

}

#results {
    width: 50%;
    margin:20% 30% 0 0;
    color: rgb(23, 23, 223);
}

#submit {
    height: 45px;
    width: 80px;
    font-size: large;
    background: rgb(140, 140, 212);
    color: #fff;
    border:1px solid rgb(31, 25, 25);
    border-radius: 10%;
}

#submit:hover{
    background-color: rgb(23, 23, 223);
}

