body {
    background-image: url(../images/flags.png);
}

.container {
    width: 60%;
    height: 600px;
    background-color: rgb(250, 249, 248);
    border: 4px solid;
    margin: auto;
    margin-top: 15%;
    text-align: center;
}

.container > h1 {
    color: rgb(35, 35, 153);
}